<div class="product card" style="width: 16rem;">
<img src={{product.image}} class="card-img-top img-product" alt=".....">
    <div class="card-body">
        <h5 class="card-title">{{product.nameProduct}}</h5>
        <p class="card-text">Precio: {{product.price}} $</p>
        <p class="card-text">Unidades Disponibles:{{product.unitsAvailable}}</p>
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-primary btn-sm" (click)="viewMoreProduct(product)">Ver más</button>
            </div>
            <div class="col-md-2 offset-md-1">
                <button  class="btn btn-warning btn-sm" (click)="AddNewProduct(product)">Añadir</button>
            </div>
            <div class="col-md-1 offset-md-1">
                <input type="number" name="points" step="1">
            </div>
        </div>
    </div>
</div>
