<div>
    <barra-navegacion [userId]="userLogin"></barra-navegacion>
</div>
<br>
<div class ="container contenido">
    <div class="row">
        <div class="col-sm-9">
            <br>
            <h2>Carrito de compras!</h2>
        </div>
    </div>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="scrollable card">
                <div class="product hp" style="width: 16rem;">
                    <div *ngFor="let product of productsCopy">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src={{product.image}} class="card-img-top img-product" alt=".....">
                            </div>
                            <div class="col-sm-6">
                                <h5 class="card-title">{{product.nameProduct}}</h5>
                                <p class="card-text">Unidades:{{product.quantity}}</p> 
                            </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-11 offset-md-1">
                            <p class="card-text">SubTotal: {{product.price*product.quantity}} $</p>
                        </div>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>TOTAL:{{total}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button (click)="DeleteTeporalByUser(userLogin)"  class="btn btn-light btn-sm" >Vaciar Carrito</button>
                </div>
                <div class="col-sm-6">
                    <button (click)="BuyProducts(userLogin)"  class="btn btn-light btn-sm" >Pagar</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>