<div class ="container contenido">
    <div class="row">
      <div class="col-sm-9">
        <h2>Catalogo de productos!</h2>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-10">
            <p>¿Que estas buscando?</p>
          </div>
          <div class="col-sm-12 search">
            <input type="input-text" placeholder="Buscar producto" (keyup)="applyFilterProducts($event)">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="container">
    <div class="row">
        <div *ngFor="let item of products">
            <products-ui [product]="item" [userLogin]= "userId"></products-ui>
        </div>
    </div>
  </div>
  </div>