<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navigator">
        <div class="container-fluid">
            <a class="navbar-brand menu" href="#">La Bodega</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item menu">
                <a (click)="GoBackStart(loginUser)"><i class="fa fa-th-list"></i></a>
            </li>
            <li class="nav-item menu">
                <a  (click)="TemporalProductsByUser(userId)" class="notification"><span *ngIf="true" class="badge" >{{productCounter}}</span><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item menu">
                <a href="#"><i class="fa fa-user-times"></i></a>    
            </li>
            <li class="nav-item menu">
                <a href="#"><i class="fa fa-arrow-circle-right"></i></a>          
            </li>
        </ul>
    </nav>
</div>